# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Main"

on:
  push:
    tags: ["*"]
    branches: ["*"]
  pull_request:
    branches: ["*"]
  workflow_dispatch:

permissions: {}

jobs:
  build:
    name: "Build image"
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
    steps:
      - name: "Checkout project"
        uses: "actions/checkout@v5"
      - name: "Build and save image"
        run: |
          make IMAGE_BUILD_OPTS="--pull" build-image save-image
      - name: "Upload artifacts"
        if: "startsWith(github.ref, 'refs/tags/v')"
        uses: "actions/upload-artifact@v4"
        with:
          name: "dist"
          path: "./dist/"
          retention-days: 1

  push:
    name: "Push image"
    if: "startsWith(github.ref, 'refs/tags/v')"
    needs: ["build"]
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
    steps:
      - name: "Checkout project"
        uses: "actions/checkout@v5"
      - name: "Download artifacts"
        uses: "actions/download-artifact@v5"
        with:
          name: "dist"
          path: "./dist/"
      - name: "Login to Docker Hub"
        uses: "docker/login-action@v3"
        with:
          registry: "docker.io"
          username: "${{ secrets.DOCKERHUB_USERNAME }}"
          password: "${{ secrets.DOCKERHUB_TOKEN }}"
      - name: "Load and push image"
        run: |
          make load-image push-image

  publish-github-release:
    name: "Publish GitHub release"
    if: "startsWith(github.ref, 'refs/tags/v')"
    needs: ["push"]
    runs-on: "ubuntu-latest"
    permissions:
      contents: "write"
    steps:
      - name: "Publish"
        uses: "hectorm/ghaction-release@066200d04c3549852afa243d631ea3dc93390f68"
